:root {
  --primary-color: #bee3db;
  --secondary-color: #89b0ae;
  --tertiary-color: #555b6e;
  --accent-color: #d2b9a5;
  --background-color: #f9fafa;
}

body {
  background-color: var(--background-color);
  font: Poppins;
  text-align: center;
  line-height: 1.5;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .btn-branding {
  background: var(--primary-color);
}

footer .social-link {
  color: var(--tertiary-color);
  margin: 0 20px;
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
