:root {
  --primary-color: #bee3db;
  --secondary-color: #89b0ae;
  --tertiary-color: #555b6e;
  --accent-color: #d2b9a5;
  --background-color: #f9fafa;
}

body {
  background-color: var(--background-color);
  font: Poppins;
  text-align: center;
  line-height: 1.5;
}

h3 {
  font-size: 18px;
  color: var(--tertiary-color);
}

.btn-branding {
  background: var(--tertiary-color);
  border-radius: 4px;
  color: var(--background-color);
  text-decoration: none;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}

.btn-branding-outline {
  color: var(--tertiary-color);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  font-size: 18px;
  text-decoration: none;
  line-height: 27px;
  padding: 15px 30px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
}

footer .contact-box {
  background: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .btn-branding {
  background: var(--primary-color);
}

footer .social-links {
  color: black;
}

footer .social-link {
  color: var(--tertiary-color);
  margin: 0 20px;
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .email-link {
  text-decoration: none;
  font-size: 18px;
  color: var(--tertiary-color);
  font-weight: bold;
}
